.welcome-text {
    font-weight: 800;
    font-size: 2.5rem;
    background: linear-gradient(45deg, var(--primary-green), var(--text-primary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background var(--transition-speed);
}

.action-card {
    background-color: var(--card-bg);
    border: 0.0625rem solid var(--border-main);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease, background-color var(--transition-speed), border-color var(--transition-speed);
}

.action-card:hover {
    border-color: var(--primary-green);
    transform: translateY(-0.25rem);
}

.action-icon {
    font-size: 2rem;
}