<div class="stats-container">
  <div class="stats-header">
    <h1 class="stats-title">Classifiche</h1>
    <nz-segmented 
      [nzOptions]="options" 
      [ngModel]="activeOption()"
      (ngModelChange)="handleIndexChange($event)"
      class="custom-segmented">
    </nz-segmented>
  </div>

  <div class="leaderboard-wrapper" [@tabAnimation]="activeOption()">
    <div class="leaderboard">
    <!-- Top 3 Section -->
    <div class="top-three">
      @if (top3()[1]; as second) {
      <div class="podium-item second">
        <div class="avatar-wrapper">
          <nz-avatar [nzSize]="80" [nzText]="second.avatar" [style.background-color]="second.color"></nz-avatar>
          <div [class]="'medal ' + medalClass(second.rank)"><span nz-icon nzType="trophy" nzTheme="outline"></span></div>
        </div>
        <div class="podium-info">
          <span class="player-name">{{ second.name }}</span>
          <span class="podium-rank">#{{ second.rank }}</span>
          <span class="value">{{ second.value }}</span>
        </div>
      </div>
      }

      @if (top3()[0]; as first) {
      <div class="podium-item first">
        <div class="avatar-wrapper">
          <nz-avatar [nzSize]="100" [nzText]="first.avatar" [style.background-color]="first.color"></nz-avatar>
          <div [class]="'medal ' + medalClass(first.rank)"><span nz-icon nzType="trophy" nzTheme="outline"></span></div>
        </div>
        <div class="podium-info">
          <span class="player-name">{{ first.name }}</span>
          <span class="podium-rank">#{{ first.rank }}</span>
          <span class="value">{{ first.value }}</span>
        </div>
      </div>
      }

      @if (top3()[2]; as third) {
      <div class="podium-item third">
        <div class="avatar-wrapper">
          <nz-avatar [nzSize]="70" [nzText]="third.avatar" [style.background-color]="third.color"></nz-avatar>
          <div [class]="'medal ' + medalClass(third.rank)"><span nz-icon nzType="trophy" nzTheme="outline"></span></div>
        </div>
        <div class="podium-info">
          <span class="player-name">{{ third.name }}</span>
          <span class="podium-rank">#{{ third.rank }}</span>
          <span class="value">{{ third.value }}</span>
        </div>
      </div>
      }
    </div>

    <!-- Others List -->
    <div class="others-list">
      @for (player of others(); track player.name) {
      <div class="list-item">
        <div class="rank">#{{ player.rank }}</div>
        <nz-avatar [nzSize]="40" [nzText]="player.avatar" [style.background-color]="player.color"></nz-avatar>
        <div class="player-details">
          <span class="name">{{ player.name }}</span>
        </div>
        <div class="player-value">{{ player.value }}</div>
      </div>
      }
    </div>
  </div>
</div>
